@media (min-width: 1170px) and (max-width: 1270px) {
  .lg-only-shape-position {
    top: -270px;
    left: -50px;
  }
}
@media (min-width: 1024px) and (max-width: 1170px) {
  .md-only-shape-position {
    top: -270px;
    left: -90px;
  }
}
@media (min-width: 768px) and (max-width: 1010px) {
  .sm-shape {
    display: none;
  }
}
