/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --font-primary: "League Spartan", sans-serif;
}

html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}
/* safari */
@supports (-webkit-touch-callout: none) {
  html,
  body,
  #root {
    min-height: -webkit-fill-available;
  }
}

@layer base {
  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    height: calc(var(--vh, 1vh) * 100);
  }
  /* Mobile-only overflow control */
  @media (max-width: 767px) {
    html,
    body {
      overflow-x: hidden;
      width: 100vw;
      position: relative;
    }
  }
  @media (min-width: 767px) {
    html,
    body {
      overflow-x: none;
    }
  }
}

html {
  scroll-behavior: smooth;
  background-color: #dfe4f2;
  color: #14121a;
}

html.dark {
  background-color: #14121a;
  color: #dfe4f2;
}

#root {
  min-height: 100%;
  height: calc(var(--vh, 1vh) * 100);
}
/* @import "tailwindcss"; */
body {
  font-family: "Poppins", Arial, sans-serif;

  /* background-color: #e9ecf5; */
}

@keyframes gradient-x-rightToLeft {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@layer utilities {
  .animate-gradient-rightToLeft {
    animation: gradient-x-rightToLeft 3.5s linear infinite;
  }

  .bg-size-200 {
    background-size: 800% 200%;
  }
}
/* about > skills */
.badge {
  @apply rounded-lg bg-blue-100 px-3 py-1 text-sm text-blue-800;
}
/* hide scrolls  */
/* Hide scrollbar for all browsers */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
/* baemin font */
@font-face {
  font-family: "BaeminHannaPro";
  src: url("./assets/fonts/BMHANNAPro.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
